@import "~normalize.css/normalize.css";
@import "variables";

/* bootstrap-sass can't find the icon fonts */
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap.scss";

.container-fluid {
  padding: 0;
}

#conns {
}

.conn {
  font-family: monospace;

  .host {

  }

  .path {

  }

  .headers {
    list-style-type: none;
    padding-left: 0;
  }

  .request {
    .method {
      font-weight: bold;
      margin-right: 1em;
    }
  }

  .response {
    .status {
      font-weight: bold;
    }
  }
}